.footer {
  background-color: #2f653a;
  color: #fff;
  padding: 20px 0;
  width: 100%;
  position: fixed;
  bottom: 0;
}

.footer-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items:  center;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;             
  min-width: 200px;     
  margin: 10px;
}
.footer-menu{
  
    list-style: none;
        padding: 0;
        display: flex;
        gap: 15px;
        text-decoration: none;
        color: #fff;
        font-size: 20px;
        padding: 5px 10px;  
}

